<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="ctrl">
<head>
	<meta charset="UTF-8">
	<title>Flickr_Searcher</title>
  
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.3.15/angular-animate.js" type="text/javascript"></script>
  <script type="text/javascript" src="app.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Erica+One|Roboto" rel="stylesheet">

</head>

<body>
<div class="full_wrap">
 <header class="hero_wrap">
  <div class="hero_data">
   <div class="hero_text">
    <img class="camera" src="camera.png">
    <p class="text">Flickr Searcher</p>
   </div><!-- . hero_text - -->
  </div><!-- . hero_data - -->
 </header><!-- . hero_wrap - -->

 <section class="input_wrap">
  <div class="input_data">
    <input class="input-lg col-lg-*" type="text" ng-model="searchTag" placeholder="Enter a tag to search for" required />
    <input type="submit" class="submit" value="Search" ng-click="searchPhotos(searchTag)"/>
  </div><!-- . input_data - -->
 </section><!-- . input_wrap - -->

 <section class="text_wrap">
  <div class="text_data">
   <p ng-show="searching" class="info_text">Searching Instagram for {{ searchTag }}</p>
   <p ng-show="results" class="info_text">We found {{ totalResults | number }} images of {{ searchTag }}</p>
   <p ng-show="error" class="info_text">Sorry! Something went wrong, please try again.</p>
  </div><!-- . text_data - -->
 </section><!-- . text_wrap - -->

 <section class="pics_wrap">
  <div class="pics_data" ng-show="showPhotos">
   <img class="pic_tile" ng-repeat="photo in photos | startFrom:currentPage*pageSize | limitTo:pageSize" ng-src='{{photoUrl(photo)}}'/>
  </div><!-- . pics_data - -->
 </section><!-- . pics_wrap - -->
</div><!-- . full_wrap - -->

<ul class="pager" ng-show="showNext">
  <li ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><a href="#">Previous</a></li>
  {{currentPage+1}}/{{numberOfPages()}}
  <li ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1"><a href="#">Next</a></li>
</ul>

</body>
</html>

